[submodule ".vim/pack/git/start/ale"]
	path = .vim/pack/git/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/git/start/omnisharp"]
	path = .vim/pack/git/start/omnisharp
	url = git@github.com:omnisharp/omnisharp-vim
[submodule ".vim/pack/git/start/vim-expand-region"]
	path = .vim/pack/git/start/vim-expand-region
	url = git@github.com:terryma/vim-expand-region
[submodule ".vim/pack/git/start/dracula"]
	path = .vim/pack/git/start/dracula
	url = git@github.com:dracula/vim.git
[submodule ".vim/pack/git/start/airline"]
	path = .vim/pack/git/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/git/start/fugitive"]
	path = .vim/pack/git/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/git/start/coc"]
	path = .vim/pack/git/start/coc
	url = git@github.com:neoclide/coc.nvim
	branch = release
[submodule "./.vim/pack/git/start/ctrlp"]
	path = .vim/pack/git/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule ".vim/pack/git/start/tabular"]
	path = .vim/pack/git/start/tabular
	url = git@github.com:godlygeek/tabular
[submodule ".vim/pack/git/start/vimwiki"]
	path = .vim/pack/git/start/vimwiki
	url = git@github.com:vimwiki/vimwiki
	branch = dev
[submodule ".vim/pack/git/start/quickpeek.vim"]
	path = .vim/pack/git/start/quickpeek.vim
	url = git@github.com:AndrewRadev/quickpeek.vim.git
