[submodule ".vim/pack/git/start/ale"]
	path = .vim/pack/git/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/git/start/omnisharp"]
	path = .vim/pack/git/start/omnisharp
	url = git@github.com:omnisharp/omnisharp-vim
[submodule ".vim\\pack\\git\\start\\vim-sensible"]
	path = .vim/pack/git/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule ".vim\\pack\\git\\start\\vim-expand-region"]
	path = .vim\\pack\\git\\start\\vim-expand-region
	url = git@github.com:terryma/vim-expand-region
